WAGTAIL_API_BASE = "https://<FQHN>/api/v2/images/"
WS_HOST = "ws://<IP>:<PORT>"
LOG_LEVEL = INFO
AUDIO_PING = "<URL>"
SCREENSHOT_URL = "<URL>"
EMAIL_HOST = "<HOST>"
EMAIL_PORT = 
EMAIL_HOST_USER = "<USER>"
EMAIL_HOST_PASSWORD = "<PASSWORD>"
EMAIL_USE_TLS = 
EMAIL_SENDER = "Pop-timism @ MCA <admin@example.com>"

# SharePoint credentials (Microsoft Graph client credentials flow)
TENANT_ID = ""
CLIENT_ID = ""
# Use the secret VALUE from Azure app registration, not the secret ID
CLIENT_SECRET = ""
TOKEN_ENDPOINT = "https://login.microsoftonline.com/<TENANT_ID>/oauth2/v2.0/token"
GRANT_TYPE = "client_credentials"
SCOPE = "https://graph.microsoft.com/.default"
SHAREPOINT_URL = ""
SITE_ID = ""
WORKBOOK_NAME = "PoptimismFormSubmissions.xlsx"
LOCATION = "Documents/PoptimismFormSubmissions.xlsx"
TABLE_NAME = "FormSubmissions"