WAGTAIL_API_BASE = "https://<FQHN>/api/v2/images/"
WS_HOST = "ws://<IP>:<PORT>"
LOG_LEVEL = INFO
AUDIO_PING = "<URL>"
SCREENSHOT_URL = "<URL>"
EMAIL_HOST = "<HOST>"
EMAIL_PORT = 
EMAIL_HOST_USER = "<USER>"
EMAIL_HOST_PASSWORD = "<PASSWORD>"
EMAIL_USE_TLS = 
EMAIL_SENDER = "Pop-timism @ MCA <admin@example.com>"