WAGTAIL_API_BASE = "https://<FQHN>/api/v2/images/"
WS_HOST = "ws://<IP>:<PORT>"
LOG_LEVEL = INFO
AUDIO_PING = "<URL>"
SCREENSHOT_URL = "<URL>"
EMAIL_HOST = "<HOST>"
EMAIL_PORT = 
EMAIL_HOST_USER = "<USER>"
EMAIL_HOST_PASSWORD = "<PASSWORD>"
EMAIL_USE_TLS = 
EMAIL_SENDER = "Pop-timism @ MCA <admin@example.com>"

# Sharepoint credentials
TENANT_ID = ""
CLIENT_ID = ""
CLIENT_SECRET = ""
TOKEN_ENDPOINT = "https://login.microsoftonline.com/580b2dd0-e53b-4312-8f72-37bdc0bb20a2/oauth2/v2.0/token"
GRANT_TYPE = "client_credentials"
SCOPE = "https://graph.microsoft.com/.default"
SHAREPOINT_URL = ""
SITE_ID = ""
WORKBOOK_NAME = "PoptimismFormSubmissions.xlsx"